<!DOCTYPE html>
<html>
<head>
<style>
        table, th 
        {
            margin:10px 0;
            border:solid 1px #333;
            padding:2px 4px;
            font:15px Verdana;
        }
        th {
            font-weight:bold;
        }
        td { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
    </style>
  <script type="text/javascript">
    function CreateTableFromJSON() {
        var article_arr = {{article_arr}}
        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < article_arr.length; i++) {

            tr = table.insertRow(-1);

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = i;
            
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = "<a href="+article_arr[i]['url']+">"+article_arr[i]['title']+"</a>";
            
            tr = table.insertRow(-1);

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = "&emsp;";

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = article_arr[i]['upvote_count']+" points";
            
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = "by "+article_arr[i]['user'];
            
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = article_arr[i]['sentiment'];
                
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
  </script>
</head>

<body onload="CreateTableFromJSON()">
<div id="showData">
</div>
</body>
</html>