<!DOCTYPE html>
<html>
<head>
<style>
        table, th 
        {
            margin:10px 0;
            border:solid 1px #333;
            padding:2px 4px;
            font:15px Verdana;
        }
        th {
            font-weight:bold;
        }
        td { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
    </style>
  <script type="text/javascript">
    function CreateTableFromJSON() {
        var myBooks = [
            {
                "sl_no": "1",
                "title": "Computer Architecture",
                "url": "Computers",
                "user": "Biswajit",
                "comments_count":"120",
                "sentiment":"Positive",
                "upvotes":"40"
            },
            {
                "sl_no": "2",
                "title": "Computer Architecture",
                "url": "Computers",
                "user": "Biswajit",
                "comments_count":"120",
                "sentiment":"Positive",
                "upvotes":"40"
            },
            {
                "sl_no": "3",
                "title": "Computer Architecture",
                "url": "Computers",
                "user": "Biswajit",
                "comments_count":"120",
                "sentiment":"Positive",
                "upvotes":"40"
            }
        ]

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < myBooks.length; i++) {

            tr = table.insertRow(-1);

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = myBooks[i]['sl_no'];
            
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = "<a href=myBooks[i]['url']>"+myBooks[i]['title']+"</a>";
            
            tr = table.insertRow(-1);

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = "&emsp;";

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = myBooks[i]['upvotes']+" points";
            
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = "by "+myBooks[i]['user']+" |";
            
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = myBooks[i]['comments_count']+" comments | ";

            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = myBooks[i]['sentiment'];
                
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
  </script>
</head>

<body onload="CreateTableFromJSON()">

<div id="showData"></div>
<!-- <table>
<tr>
      <td>
        3. <a href="http://www.sciencealert.com/we-just-got-even-weirder-results-about-the-alien-megastructure-star">Tabby's star is dimming at an incredible rate</a>
      </td>
</tr>
<tr>
      <td>
      &emsp;<span id="score_12238860">250 points</span> by <a href="user?id=ChuckMcM">ChuckMcM</a> | <a href="item?id=12238860">110 comments</a>
      </td>
</tr>
</table> -->
</body>
</html>